{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо потому что был запрошен сброс пароля с
{{ site_name }}.{% endblocktranslate %}
{% translate "Пожалуйста пройдите по ссылке для сброса пароля:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ваш юзернейм:' %} {{ user.get_username }}

{% translate "Спасибо что пользуетесь сайтом!" %}

{% blocktranslate %}The {{ site_name }} team {% endblocktranslate %}

{% endautoescape %}