{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col col-md-6">
        <h2>Сброс пароля</h2>
        <p class="mb-3">Забыли свой пароль? Введите свой адрес ниже, и мы отправим вам на эмейл инструкции.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}